
*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}
/* nav bar style*/

section{
  padding: 10px 20px;
}

nav{
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-items: center;
}

hr{
  height: 2px;
  border-width: 0;
  margin-top: 10px;
  background-color:rgb(245, 202, 63);
  display: none;
}

.logo{
display: flex;
align-items: center;
}

ul li{
  display: inline;
  margin-left: 30px;
  list-style: none;
  align-items: center;

}

ul li a{
  display: inline;
  margin-left: 30px;
  list-style: none;
  align-items: center;
  text-decoration: none;
}

li a:hover{
  color: #4834d4;
}



.bar-btn{
  display: none;
}

.Home{
  color: orange;
}

.About{
  color: #079992;
}
.Facilities{
  color: #0fbcf9;
}
.Admission{
  color: #f53b57;
}

.contact-btn{
  padding: 10px 40px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: orange;
}

.contact-btn:hover{
  background-color: #1abc9c;
  cursor: pointer;
}



/* hero kids style */


.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 0;
}


.hedding{
  font-size: 40px;
  max-width: 50%;
}

.hero-kids img{
  height: 480px;
  width: 380px;
}


.students-vision{
  align-items: center;
  width: auto;
}

.span-1{
  color: orange;
}
.span-2{
  color: #0984e3;
}

.para-1{
  margin-top: 20px;
  max-width: 75%;
}

.enroll{
  background-color: #ff4757;
  color: white;
  margin-top: 10px;
  padding: 8px 30px;
  border: none;
  border-radius: 10px;
}

.enroll:hover{
  background-color: #130f40;
  cursor: pointer;
}


/* standard curriculam style */

.Standard-Curriculum{
  background-image: url(./images/bg.png);
  background-repeat: no-repeat;
  padding: 60px 0;
}


.SC-heading{
  text-align: center;
  margin-top: 30px;
}

.all-cards{
  width: 100%;
  display: flex;
  margin-top: 40px;
  gap: 30px;
}


.card{
  margin: 20px;
  text-align: center;
  padding: 20px;
  border: none;
  border-radius: 10px;
}

.kinder{
  background: linear-gradient( to bottom, hsl(161, 76%, 95%),#f8f5eb);
}
.elementary{
  background: linear-gradient( to bottom, hsl(77, 100%, 92%),#e7e2d1);
}

.middle{
  background: linear-gradient( to bottom, hsl(344, 92%, 90%),#f8f5eb);
}



.card-heading{
  margin-top: 50px;
}

.para-2{
  margin-top: 20px;
}

.read-more{
  margin-top: 50px;
}

.read-more a{
  text-decoration: none;
}


.read-1{
  color: #182C61;
}
.read-2{
  color: #b71540;
}
.read-3{
  color: #079992;
}


.arrow-btn{
  text-align: center;
}

.arrow:hover{
  background-color: #00b894;
  cursor: pointer;
}

.arrow{
  padding: 8px 12px;
  border-radius: 50px;
  border: none;
  color: white;
  background-color: orange;
}



/* our stories style */

.our-stories{
  margin: 0;
  padding: 60px 0;
  background: url(./images/bg.png), linear-gradient( to bottom, rgb(233, 252, 244),rgb(229, 252, 173));
  background-repeat: no-repeat;
}
.OS-heading{
  text-align: center;
  margin: 30px;
}

.picture-cards{
  display: flex;
  gap: 20px;
}

.single-photo img{
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.single-photo{
  border-radius: 50px;
}

.card-2nd{
  border-radius: 50px;
}

.card-2nd p{
  padding: 20px;
}

.square-photos{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

}

.square-photos div img{
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.square-photos > div{
  box-shadow: 0.5px 0.5px 1px 0;
  border-radius: 10px;
  border: none;
  background-color: white;
}


.heading-text{
margin: 30px 0;
padding: 20px;
}


.card-2nd{
box-shadow: 0.5px 0.5px 1px 0;
border-radius: 10px;
background-color: white;
}


.date-btn-1{
  background-color: #eb4d4b;
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  transform: translateX(30px) translateY(-20px);
}

.date-btn-2{
  background-color: #f0932b;
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  transform: translateX(30px) translateY(-20px);
}

.date-btn-3{
  background-color: #6ab04c;
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  transform: translateX(30px) translateY(-20px);
}

.date-btn-4{
  background-color: #10ac84;
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  transform: translateX(30px) translateY(-20px);
}

.date-btn-5{
  background-color: #22a6b3;
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  transform: translateX(30px) translateY(-20px);
}


.view{
  text-align: center;
}

.view-btn{
  padding: 7px 30px;
  border-radius: 10px;
  border: none;
  background-color: #0fb9b1;
  color: white;
  font-weight: bold;
  margin-top: 20px;
}

.view-btn:hover{
  background-color: #e67e22;
  cursor: pointer;
}


/* footer style */


footer{
  background-color: #2bcbba;
  color: white;

}

.footer-section{
  padding: 50px;
  display: flex;
  justify-content: space-between;
  width: auto;
}

.footer-logo{
  width: 30%;
}

.last-logo{
  display: flex;
  align-items: center;
  font-size: 28px;
}

.last-para{
  text-align: left;
  margin-top: 20px;
  width: auto;
}


.list-item li{
  list-style: none;
  margin-top: 20px;
  align-items: center;
}

.social{
  display: flex;
  margin-top: 20px;
  gap: 10px;
}



/* Responsive */

@media screen and (max-width: 576px) {


  /* nav bar responsive*/
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul li a{
    display: none;
  }
  

  .contact-btn{
    display: none;
  }

  .bar-btn{
    display: block;
  }

  hr{
    display: block;
  }


  /* hero kids responsive */

  .container{
    flex-direction: column-reverse;
  }


  .hero-kids{
    width: 100%;
    align-items: center;
  }

  .hero-kids img{
   width: 100%;
  }

  .students-vision{
    text-align: center;
    width: auto;
  }

  .hedding{
    max-width: 100%;
    font-size: 60px;
  }

  .para-1{
    max-width: 100%;
  }

  /* standard curriculam responsive */

  .all-cards{
    flex-direction: column;
  }

  .arrow-btn{
    display: none;
  }

  /* our stories responsive */

  .picture-cards{
    flex-direction: column;
  }

  .card-2nd{
    display: none;
  }

  .square-photos{
    grid-template-columns: repeat(2 1fr);
  }

  /* footer section responsive */

  .footer-section{
    flex-direction: column;
    gap: 30px;
 
  }

  .footer-logo{
    width: 100%;
  }

  .last-logo{
    width: 50%;
  }


  .last-para{
    width: 100%;
  }
  

  
}